# Node modules (both frontend + backend)
node_modules/
Frontend/node_modules/
Backend/node_modules/

# Environment variables (VERY IMPORTANT)
.env
Backend/.env

# Logs
logs
*.log
npm-debug.log*

# Build files (React/Vite)
Frontend/dist/
Frontend/build/

# Vite cache
Frontend/.vite/

# OS files
.DS_Store